{% extends "Home/base.html" %}
{% load static %}
{% block title %}
    Edit password
{% endblock %}
{% block content %}
  <div class="container-fluid d-flex justify-content-center" style="position: absolute; width: 100%; height: 100%; left: 0px; overflow: hidden; align-items: center; flex-direction: column;">

    <form action="{% url 'user_profile:edit_password' %}" method="post">
      {% if invalid_password %}
        <div class="form-group has-danger">
            <label class="form-label mt-4" for="inputInvalid">Неверный пароль</label>
            <input name="old_password" placeholder="Старый пароль" type="password" class="form-control is-invalid" id="inputInvalid">
        </div>
      {% else %}
				<div class="form-group">
					<input name="old_password" class="form-control form-control-lg" type="password" placeholder="Старый пароль" id="inputLarge">
				</div>
			{% endif %}

      <div class="form-group">
        <input name="new_password" class="form-control form-control-lg" type="password" placeholder="Новый пароль" id="inputLarge">
      </div>
        <button type="submit" class="btn btn-secondary" style="margin-top: 10px;">Изменить пароль</button>
        {% csrf_token %}
    </form>

  </div>
{% endblock %}
